<div id="modalError" class="modal fade" style="display: none;">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<div class="icon-box">
					<center>
						<i class="fa fa-times-circle fa-4x" style='color: red !important'></i>
						<h4 class="modal-title">Error</h4>	
					</center>
				</div>				
			</div>
			<div class="modal-body">
				<p class="mensaje"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info cancelar" data-dismiss="modal">Aceptar</button>
			</div>
		</div>
	</div>
</div>